<div class="checkout-container">
  <h2 class="text-center">Guest Checkout</h2>
  
  <div class="checkout-items">
    <div class="checkout-item" *ngFor="let item of cartItems">
      <div class="item-details">
        <h3>{{ item.name }}</h3>
        <p>Quantity: {{ item.quantity }}</p>
        <p>Price: ${{ item.price }}</p>
      </div>
      <div class="item-total">
        <p>Total: ${{ item.price * item.quantity }}</p>
      </div>
    </div>
  </div>

  <div class="checkout-summary">
    <h4>Total Amount: ${{ totalCostAmount }}</h4>
    <button class="btn btn-success me-2" (click)="placeOrderAsGuest()">Proceed to payment</button>
  </div>
</div>
