<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Grow & Give</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarNav" pull-right>
        <ul class="navbar-nav ms-auto text-center">
          <li class="nav-item" routerLinkActive="active" routerLinkActiveOptions="{exact: true}">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item" routerLinkActive="active" routerLinkActiveOptions="{exact: true}">
            <a class="nav-link" routerLink="/products">Donations</a>
          </li>
          <li class="nav-item" routerLinkActive="active" routerLinkActiveOptions="{exact: true}">
            <a class="nav-link" routerLink="/cart">Cart</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn" routerLinkActive="active" routerLinkActiveOptions="{exact: true}">
            <a class="nav-link" routerLink="/recipe">Recipe Generator</a>
          </li>
          <li class="nav-item" routerLinkActive="active" routerLinkActiveOptions="{exact: true}">
            <a class="nav-link" routerLink="/contact">Contact / FAQs</a>
          </li>
          <li class="nav-item" *ngIf="!isLoggedIn" routerLinkActive="active" routerLinkActiveOptions="{exact: true}">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn" routerLinkActive="active" routerLinkActiveOptions="{exact: true}">
            <a class="nav-link" routerLink="/profile">Profile</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link" (click)="onLogoutClick()" href="#">Logout</a>
          </li>
        </ul>
      </div>

    </div>
</nav>
  