.profile-container {
  padding-top: 50px;
  max-width: 1200px; /* Increased max-width for larger columns */
  margin: 0 auto;
}

@media screen and (max-width: 991px) {
  .profile-container {
      max-width: auto;
      padding: 20px;
  }
}

.profile-left, .profile-right {
  padding: 1.5rem;
  border: 1px solid #ddd;
  box-shadow: 5px 5px 8px rgba(111, 46, 172, 0.1);
  border-radius: 10px;
  background: #ffffff;
}

.profile-left h1,
.profile-right h3 {
  font-weight: bold;
  color: rgb(74, 74, 74);
  margin-bottom: 15px;
}

.update-password-container {
  margin-top: 20px;
}

.list-group-item {
  border: none;
  padding: 10px 0;
}

.btn-custom {
  background-color: #f9eafa;
  color: rgb(74, 74, 74);
  font-size: 14px;
  padding: 10px 20px;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.btn-custom:hover {
  background-color: #f5d1fc;
}
