.profile-container {
  gap: 20px; /* Adds space between columns */
  padding-top: 50px;
  max-width: 1500px; /* Increased max-width for larger columns */
  margin: 0 auto;
  margin-bottom: 50px;
}

@media screen and (max-width: 991px) {
  .profile-container {
      max-width: auto;
      padding: 20px;
      flex-direction: column; /* Stacks columns vertically on smaller screens */
  }
}

.profile-left {
  padding: 1.5rem;
  border: 1px solid #ddd;
  box-shadow: 5px 5px 8px rgba(111, 46, 172, 0.1);
  border-radius: 10px;
  background: #ffffff;
  height: auto; /* Only takes the height of its content */
  align-self: flex-start; /* Aligns to the start to prevent stretching */
  max-width: 400px; /* Optional: Controls the width of the left column */
}

.profile-right {
  flex-grow: 1; /* Allows the right column to take remaining space */
  padding: 1.5rem;
  border: 1px solid #ddd;
  box-shadow: 5px 5px 8px rgba(111, 46, 172, 0.1);
  border-radius: 10px;
  background: #ffffff;
  height: auto; /* Only takes the height of its content */
}

.profile-left h1,
.profile-right h3 {
  font-weight: bold;
  color: rgb(74, 74, 74);
  margin-bottom: 15px;
}

.update-password-container {
  margin-top: 40px;
}

.list-group-item {
  border: none;
  padding: 10px 0;
}

.btn-custom {
  background-color: #f9eafa;
  color: rgb(74, 74, 74);
  font-size: 12px;
  padding: 6px 16px;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.btn-custom:hover {
  background-color: #f5d1fc;
}

.vouchers-container {
  padding-top: 20px;
}
