<div class="container cart-container" *ngIf="cartItems.length > 0; else emptyCart">
  <h2 class="text-center">Your Shopping Cart</h2>
  
  <div class="text-center mt-4">
    <button class="btn btn-danger me-2" (click)="clearCart()">Clear Cart</button>
    <button class="btn btn-success me-2" (click)="proceedToCheckout()">Proceed to Checkout</button>
    <button class="btn btn-custom" (click)="checkoutAsGuest()">Checkout as Guest</button>
  </div>
  <div class="cart-items">
    <div class="cart-item row py-3 border-bottom" *ngFor="let item of cartItems">
      <div class="col-md-8">
        <h3>{{ item.name }}</h3>
        <p>Weight: {{ item.weight }}</p>
        <p>Purchase Option: {{ item.purchaseOption }}</p>
      </div>
      <div class="col-md-4 text-end">
        <p class="fw-bold">${{ item.price }}</p>
      </div>
    </div>
  </div>
</div>

<ng-template #emptyCart>
  <div class="container cart-container text-center">
    <p><strong>Your cart is empty.</strong></p>
  </div>
</ng-template>
