.product-catalog {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
    gap: 1.5rem;
    padding-top: 2.5rem;
    padding-bottom: 5rem;
 }

.product-card:hover {
    transform: translateY(-10px);
    transition: all 0.3s ease;
    box-shadow: 5px 5px 9px rgba(179, 97, 255, 0.2);
 }
 
 .product-card {
   padding: 1.5rem;
   text-align: center;
   border: 1px solid #ddd;
   box-shadow: 5px 5px 8px rgba(111, 46, 172, 0.1);
   border-radius: 10px;
   background: #f9f9f9;
}
 
 .product-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 2rem;
    border-radius: 15%;
 }

 .btn-custom {
   background-color: #f9eafa;
   border-radius: 10px;
   color: rgb(74, 74, 74);
   font-size: 12px;
   padding: 6px 14px; 
   margin-top: 1rem;
   margin-bottom: 1rem;
   border: 1px solid #c0c0c0;
}
 .btn-custom:hover {
   background-color: #f5d1fc;
 }