<div class="product-catalog">
    <div *ngFor="let listing of donationListings" class="product-card">
        <img [src]="listing.image" alt="{{listing.name}}" class="product-image"/>
        <h3>{{ listing.name }}</h3>
        <p><strong>Location: {{ listing.location }}</strong></p>
        <p *ngIf="listing.stock > 0">Available Stock: {{ listing.stock }}</p>
        <button class="btn btn-custom" (click)="viewListing(listing._id)">View Listing</button>
    </div>
</div>
<app-footer></app-footer>
