.donor-dashboard {
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.btn-custom {
    background-color: #f9eafa;
    color: rgb(74, 74, 74);
    font-size: 12px;
    padding: 6px 16px;
    border: 1px solid #c0c0c0;
    border-radius: 10px;
    transition: background-color 0.3s;
    margin: 5px 5px;
}

.btn-custom:hover {
    background-color: #f5d1fc;
}

.listing-card {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 15px;
}

.listing-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.listing-form {
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.4s ease, max-height 0.4s ease;
}

.listing-form.show {
    margin-top: 20px;
    margin-bottom: 25px;
    opacity: 1;
    max-height: 1000px;
    transition: opacity 0.4s ease, max-height 0.4s ease;
}

.form-control {
    background-color: #ffffff;
    margin-bottom: 15px;
    border: 1px solid #dedddd;
}

/* Style for inline edit form with smooth transition */
.edit-form {
    opacity: 0;
    max-height: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transition: opacity 0.4s ease, max-height 0.4s ease;
}

.edit-form.show {
    opacity: 1;
    max-height: 1000px; /* Adjust as needed for content height */
    transition: opacity 0.4s ease, max-height 0.4s ease;
    margin-top: 30px;
}

.form-group textarea {
    height: 125px;
}

.thinking {
    margin: 0 10px;
    margin-top: 15px;
}
